@font-face {
  font-family: 'MyDejaVuMono';
  src: url('fonts/myfont.ttf') format('truetype');
}

div {
  font-family: 'MyDejaVuMono', monospace;
  font-size: 15px;
}

header {
  font-family: 'MyDejaVuMono', monospace;
  font-size: 15px;
}